# 나라배움터 로그인
NARAEBAEUM_ID=your_id
NARAEBAEUM_PW=your_password

# 카카오 알림톡 (Solapi)
COOLSMS_API_KEY=your_coolsms_api_key
COOLSMS_API_SECRET=your_coolsms_api_secret
KAKAO_SENDER_KEY=your_kakao_channel_sender_key
KAKAO_TEMPLATE_CODE=your_template_code
RECIPIENT_PHONE=01012345678
SENDER_PHONE=01012345678
